.container {
  // margin-top: 10px;
  // margin-bottom: 40px;
  width: 100%;
  line-height: 2.3;
  margin-bottom: 40px;
}
.container-tap {
  margin-top: 20px;
  position: absolute;
}
.description-container {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.description-sub-container {
  margin: 10px;
}
.sub-heading {
  margin-bottom: 10px;
}
.description-title {
  font-weight: bold;
  font-size: 18px;
  color: #173143;
  margin-bottom: 12px;
  margin-left: 10px;
  margin-top: 2px;
}
.description-button-container {
  margin-left: 260px;
  height: 30px;
  width: 50%;
  cursor: pointer;
}
.description-button {
  color: #4285f4;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  margin-left: auto;
  font-weight: 500;
  display: flex;
}
.arrow-style {
  margin-left: 8px;
  transform: rotate(90deg);
}
.description-short-container {
  background-color: white;
  margin-bottom: 40px;
  height: 350px;
}
.description-content {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
.description-content-container {
  margin-top: 25px;
}
