.list-title {
  font-weight: bold;
  font-size: 18px;
  color: #173143;
  margin-bottom: 12px;
}
.attribute-pills {
  padding-top: 12px;
  display: flex;
  flex-wrap: wrap;
}

.ingredients-list {
  margin: 12px;
}

.ingredient {
  display: flex;
  flex: 0.8;
  margin-top: 12px;
  height: 44px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  margin: auto 0;
  justify-content: space-evenly;
  align-items: center;
  background: white;
  margin-top: 8px;
  border-radius: 8px;

  &__name {
    flex: 0.8;
  }

  &__image {
    flex: 0.1;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

.product-page-shimmer {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;

  .bar {
    margin-top: 12px;
    margin-left: 12px;
    width: '90%';
    border-radius: 4px;
  }

  .pill {
    margin-top: 12px;
    margin-left: 12px;
    width: '90%';
    border-radius: 8px;
  }

  .offer-card {
    margin-left: 12px;
    width: 50%;
    height: 100px;
    background-color: #ececec;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .margin-top {
    margin-top: 24px;
  }

  .margin-right {
    margin-right: 24px;
  }

  .flex-row {
    display: flex;
  }

  .image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__image {
      color: transparent;
      opacity: 0.3;
    }
  }
}

.rate-stars {
  background: white;
  height: max-content;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 12px;
}

.emo-star {
  margin: 12px;
  width: max-content;
  height: 70px;
  font-size: 10px;
  color: #173143;
  position: relative;
  text-transform: uppercase;
  width: 54px;
  text-align: center;

  &__centre {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.buy-cta {
  position: sticky;
  width: 100%;
  bottom: 0px;
  background-color: white;
  padding: 8px;
  padding-top: 0px;
  font-style: normal;
  font-size: 16px;

  &__flex {
    display: flex;
    justify-content: space-evenly;
  }

  &__header {
    height: 1px;
    width: 100%;
    background: #979baa;
    opacity: 0.4;
    margin-bottom: 8px;
  }

  &__add-to-bag {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 100%;
    border-radius: 8px;
    margin-right: 8px;
    background: white !important;
    border: 1px #01b460 solid;
    color: #01b460;
  }
  &__buy-now {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 100%;
    border-radius: 8px;
    background: linear-gradient(to right, #52cb8c, #01b460);
    color: white;
  }
}
