.attribute-pills {
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
}

.ingredients-list {
  margin: 12px;
}

.ingredient {
  display: flex;
  flex: 0.8;
  margin-top: 12px;
  height: 44px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  margin: auto 0;
  justify-content: space-evenly;
  align-items: center;
  background: white;
  margin-top: 8px;
  border-radius: 8px;

  &__name {
    flex: 0.8;
  }

  &__image {
    flex: 0.1;
  }
}
