.top-row {
  display: flex;
  flex-wrap: wrap;
}
.shade-text {
  flex: 1;
  color: #a0a0a0b3;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
.variant-color-style {
  border-radius: 10px;
  margin: 5px;
}
.color-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-rows: 0;
  overflow-y: hidden;
  justify-content: space-around;
}
.other-shades {
  height: 34px;
  width: 34px;
  background-color: #f4f6f8;
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 290px;
  margin-top: -35px;
}
.other-shades-text {
  font-size: 13px;
  font-weight: bold;
}
.variant_color_container {
}
.view-all-text {
  color: #4285f4;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  margin-left: auto;
  font-weight: 500;
}
