.variant_container {
  margin-top: 15px;
}
.top-row {
  display: flex;
  flex-wrap: wrap;
}
.shade-text {
  flex: 1;
  color: #a0a0a0b3;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
.variant-color-style {
  border-radius: 10px;
  margin: 5px;
  position: relative;
}
.color-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-rows: 0;
  overflow-y: hidden;
  justify-content: space-around;
}
.other-shades {
  height: 35px;
  width: 35px;
  background-color: #f4f6f8;
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 5px;
  padding: 8px;
}
.other-shades-text {
  font-size: 13px;
  font-weight: bold;
}
.variant_color_container {
  position: relative;
}
.view-all-text {
  color: #4285f4;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  margin-left: auto;
  font-weight: 500;
}
.tick-style {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 14px;
  height: 14px;
  padding: 2px;
  border-radius: 7px;
  background: black;
  border: solid 1px white;
}
