.collection-container {
  margin: 4px;
}
.imageStyle {
  height: 48vw;
  width: 48vw;
  border-radius: 4px;
  overflow: 'hidden';
}
.threeColumnImageStyle {
  height: 32vw;
  width: 31.5vw;
  border-radius: 4px;
  overflow: 'hidden';
}
.railImageStyle {
  height: 40vw;
  width: 40vw;
  border-radius: 4px;
  overflow: 'hidden';
}
