.hero-rail-card-container {
  background-color: #ffffff;
  //   border-color: #efefef;
  // margin: 4px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  justify-content: space-between;
  align-self: center;
  margin: 4px;
  &__image {
    align-self: center;
    margin-top: 10px;
  }
  &__gift-section {
    width: 50px;
    height: 14px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #ff5a60;
    margin-top: 1px;
  }
}
.review {
  display: flex;
  flex-direction: column;
}
.review-container {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-left: 2px;
  margin-bottom: -4px;
  &__icon {
    width: 12px;
    height: 11px;
    margin-top: 2px;
    // border: 1px solid#173143;
  }
  &__reviewText {
    font-family: 'Roboto', sans-serif;
    width: 228px;
    height: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #173143;
    margin-left: 7px;
    // margin-bottom: 2px;
  }
}
.info {
  margin: 8px;
  &__name {
    color: #979baa;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    white-space: nowrap;
    margin-bottom: 5px;
  }
  &__title {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    color: #173143;
  }
  &__truncate-title {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    color: #173143;
    line-height: 1.6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    // max-height: 3.2rem;
  }
  &__offerText {
    color: #04c66c;
    position: relative;
    margin-top: 2px;
  }
  &__rating {
    // margin-top: -1.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }
  &__pills {
    margin-top: 3px;
  }
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  margin-right: 4px;
  margin-top: 10px;
  margin-bottom: 20px;
  &__buttons {
    // width: 40vw;
    height: 35px;
    border: 1px solid #000000;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
  }
  &__wishlistButton {
    font-family: 'Roboto', sans-serif;
    // width: 43px;
    height: 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
  }
  &__wishlist-content {
    position: absolute;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 9px;
    right: 40px;
  }
  &__addToBag-content {
    position: absolute;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 7px;
    right: 30px;
  }
  &__addToBag {
    // width: 70px;
    height: 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
  }
}
.black-color {
  background-color: #000000;
}
